{{#each posts}}
<div class="card card-body mb-2">
	<h3>{{title}}</h3>
	<p>{{description}}</p>
	<a href="/posts/edit/{{_id}}" class="btn btn-dark btn-block mb-2">Change</a>
	<form action="/posts/{{_id}}?_method=DELETE" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">
  	Delete
	</button>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title" id="exampleModalLabel">Delete Title</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
        				</button>
      			</div>
      						<div class="modal-body">
        						Do you wanna delete post
      						</div>
      						<div class="modal-footer">
       	 				<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        			<button type="submit" class="btn btn-danger" value="delete" >Yes</button>
      			</div>
    		</div>
  		</div>
	</div>
	</form>
</div>
	{{else}}
	<div >
		<p >OMG NO, there are currently no posts. Please create a new post</p>
		<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fkhoinghiepvietnam.org%2Fwp-content%2Fuploads%2F2016%2F07%2Fkhong-co-gi-khoi-nghiep.jpg&imgrefurl=https%3A%2F%2Fkhoinghiepvietnam.org%2Ftin-tuc-su-kien%2Fho-tro-khoi-nghiep-nguoi-khong-co-gi-ca.html&tbnid=lV8ja4sQobqdnM&vet=12ahUKEwiklrqu3-zzAhVJdJQKHVxLB0YQMygHegUIARCbAQ..i&docid=ABR0ZXcBiASKdM&w=588&h=392&q=ko%20c%C3%B3%20g%C3%AC&ved=2ahUKEwiklrqu3-zzAhVJdJQKHVxLB0YQMygHegUIARCbAQ" alt="">
	</div>
{{/each}}